.hero {
  display: flex;
  gap: 20px;
  align-items: stretch; /* same height on both sides */
}

.hero > * {
  flex: 1;
  max-width: 50%;
  /* max-height: 800px; */
  flex-grow: 1;
}

/* TEXT */
.hero-text {
  background-color: cyan;
}

/* IMAGE SIDE */
#hero-image {
  background-color: #a73135;
  padding: 20px;
}

