.hero {
  display: flex;
  gap: 20px;
  align-items: stretch; /* same height on both sides */
}

.hero > * {
  flex: 1;
  max-width: 50%;
}

/* TEXT */
.hero-text {
  background-color: cyan;
}

/* IMAGE SIDE */
.hero-image {
  background-color: #a73135;
  padding: 24px;

  display: flex;
}

.hero-image-container {
  margin: auto; /* center the image container */
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.hero-image img {
  /* display: none; */
  width: fit-content;
}
