.hero {
  display: flex;
  align-items: stretch;
  gap: 20px;

  min-height: 50vh;
}

.hero > * {
  flex: 1;
}

.hero-image {
  background-color: #a73135;
  padding: 24px;
}

.hero-image > div {
  position: relative;
  width: 100%;
  height: 100%;

  /* max-width: 20em; */ /* à discuter */
  margin: 0 auto; /* center horizontally */

  background: url("https://webinfo.iutmontp.univ-montp2.fr/~mariona/img/CameraMan.png")
    no-repeat top center;
  background-size: cover;
}

article {
  margin-top: 60px;
  background-color: var(--accent);
  padding: 20px 20px;
  border-radius: 20px;
  box-shadow: 0px 10px 20px var(--primary);
}

article h2 {
  margin-top: 10px;
}

.image-large {
  display: flex;
  gap: 20px;
}

.image-large img {
  max-width: 40%;
  border-radius: 50px;
  box-shadow: var(--shadow-light);
  margin: auto 0px;
}

.image-large.layout-left {
  flex-direction: row-reverse;
}

.article-gallery div {
  display: flex;
  justify-content: space-evenly;
}

.article-gallery img {
  max-width: 20%;
  border-radius: 50px;
  box-shadow: var(--shadow-light);
  margin: 10px 0;
}

@media (max-width: 768px) {
  .hero-image {
    display: none;
  }
  .image-large img {
    display: none;
  }
  .article-gallery div {
    flex-direction: column;
    align-items: center;
  }
  .article-gallery img {
    max-width: 80%;
  }
}
