.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  background-color: var(--background-light);
  border-radius: 1em;
  box-shadow: var(--shadow);
}

.hero > div {
  flex: 1;
  margin: 0 1em;
}

.hero h1 {
  text-transform: uppercase;
}

.hero p {
  font-family: 'Inter', sans-serif;
}

.hero-image {
  /* For debugging purpose, let's extent to the max height */
  background-color: brown;
  height: 25vw;

}
