fieldset {
  margin: auto;
  width: 80%;
  background-color: aqua;
  border-radius: 15px;
  border:5px solid blue;
  display: flex;
  flex-direction: column;
  font-size: 25px;
}

input, select{
  height: 30px;
  font-size: 15px;
}

