fieldset {
  margin: auto;
  max-width: 80%;
  background-color: aqua;
  border-radius: 15px;
  border:5px solid blue;
  display: flex;
  flex-direction: column;
  font-size: 25px;

  gap : 10px;
}

input, select, textarea, button{
  height: 30px;
  font-size: 20px;
  max-width: 350px;
}

textarea {
  height: 120px;
  max-width: 600px;
  min-width: 400px;
}

button {
  width: 100px;
}
