fieldset {
  margin: auto;
  max-width: 600px;
  background-color: aqua;
  border-radius: 15px;
  border:5px solid blue;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  align-items: flex-end;
  gap : 10px;
}

h1{
  text-align: center;
}

input, select, textarea, button{
  height: 30px;
  font-size: 20px;
  max-width: 350px;
}

textarea {
  height: 120px;
  max-width: 600px;
  min-width: 400px;
}

button {
  width: 100px;
}


@media (max-width: 768px){
  fieldset{
    align-items: flex-start;
  }
  input, select, button{
    max-width: 200px;
  }
  textarea {
    height: 120px;
    max-width: 500px;
    min-width: 250px;
  }
}

@media (max-width: 520px){
    fieldset>div{
      display: flex;
      flex-direction: column;
    }
}
