footer {
  display: flex;
  justify-content: space-between;
}
footer h5 {
  margin: 0px 0px 25px 0px;
  color: var(--accent);
}
footer p {
  margin: 0px 8px;
  font-size: 13px;
}

.footer-petit-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
#footer-logo {
  width: 60px;
  height: 60px;
}
@media (max-width: 768px) {
  footer #footer-logo {
    display: none;
  }
  footer :nth-child(4) {
    display: none;
  }
}
