footer {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}
footer h5 {
  margin: 0px 0px 25px 0px;
  color: var(--accent);
}
footer p {
  margin: 0px 8px;
  font-size: 13px;
}

.footer-petit-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
#footer-logo {
  width: 80px;
  height: 80px;
  margin: auto 0px auto 10px;
}

footer > * {
  margin: 0px 10px;
}
@media (max-width: 768px) {
  footer {
    justify-content: space-between;
  }
  footer #footer-logo {
    display: none;
  }
  footer :nth-child(4) {
    display: none;
  }
}

@media (max-width : 480px){
  footer :last-child{
    display: none;
  }
}
