/* root*/
:root{
--text: #1f120a;
--background: #fcf9f8;
--primary: #de8a63;
--secondary: #8dd8c3;
--accent: #76a2d0;
}

/* media queries */

/* global */

a {
  text-decoration: none;
  color: inherit;
}

/* header */
header {
  position: sticky;
}
/* navbar */
nav {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.submenu {
  position: absolute;
  display: none;
  flex-direction: column;
  top: 15px; /* adjust as needed */
}
nav div:hover > .submenu {
  display: flex;
}

/* menu burger */
.menu-burger {
  display: none;
}

.menu-burger:hover * {
  display: block;
}
