/* root*/
@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("./nav.css");

:root {
  --text: #1f120a;
  --background: #fcf9f8;
  --primary: #de8a63;
  --secondary: #8dd8c3;
  --accent: #76a2d0;
  --font-scale: 1.333;
  --p: 1rem;
  --h5: calc(var(--p) * var(--font-scale));
  --h4: calc(var(--h5) * var(--font-scale));
  --h3: calc(var(--h4) * var(--font-scale));
  --h2: calc(var(--h3) * var(--font-scale));
  --h1: calc(var(--h2) * var(--font-scale));
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

p {
  font-size: var(--p);
  line-height: 1.5;
  color: var(--text);
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Golos Text", sans-serif;
  font-weight: 700;
}

.primary {
  color: var(--primary);
}

.accent {
  color: var(--accent);
}

.secondary {
  color: var(--secondary);
}

body {
  background-color: var(--background);
  margin: 0;
  padding: 0;
}

/* global */

a {
  text-decoration: none;
  color: inherit;
}

body > main {
  padding: 6em;
}

/* header */
body > header {
  position: sticky;
  top: 0;
}

/* media queries */
