/* navbar */
nav {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.submenu {
  position: absolute;
  display: none;
  flex-direction: column;
  top: 15px; /* adjust as needed */
}

nav div:hover > .submenu {
  display: flex;
}

/*media queries*/
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .submenu {
    position: static;
    display: flex;
    flex-direction: column;
  }
}
