/* navbar */
nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.submenu {
  position: absolute;
  display: none;
  flex-direction: column;
  top: 15px; /* adjust as needed */
}

nav div:hover > .submenu {
  display: flex;
}

#burger-img {
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/*media queries*/
@media (max-width: 768px) {
  header {
    flex-direction: row-reverse;
  }
  #burger-img {
    display: block;
    /* order: 5; */
  }
  nav {
    flex-direction: column;
    align-items: flex-start;
    /* order: -2; */
    flex-grow: 0;
  }
  .nav-item {
    display: none;
  }
  .submenu {
    position: static;
    display: flex;
  }

  nav:has(#burger-img:hover) .nav-item {
    display: block;
  }

  .submenu > div {
    display: block;
    flex-direction: column;
  }

  header > h5 {
    /* order: -1; */
    flex-grow: 1;
    text-align: center;
  }
}
