/* Tu as beaucoup de css à réorganiser, good luck ! */

/* navbar */
nav {
  position: relative;
  flex-grow: 1;
}
nav > div {
  position: relative;
  display: flex;
  gap: 20px;
}

.submenu {
  position: absolute;
  display: none;
}

.submenu > div {
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  top: 15px; /* adjust as needed */
}

.submenu a {
  background-color: var(--accent);
  padding: 10px;
}

.submenu a:last-child {
  border-radius: 0 0 5px 5px;
}

nav div:hover > .submenu {
  display: block;
}

.nav-item {
  background-color: var(--accent);
  padding: 10px;
  border-radius: 5px;
}

.nav-item:has(.submenu)::after {
  content: "v";
  font-weight: bold;
  display: inline-block;
  transition: transform 400ms;
}

.nav-item:hover:has(.submenu)::after {
  transform: rotate(-180deg);
}

#burger-img {
  display: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

#nav-logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
header > h5 {
  margin: auto 30px;
  color: var(--accent);
  font-size: 24px;
}

.actuel-page {
  background-color: var(--primary);
}


/*media queries*/
@media (max-width: 768px) {
  header {
    flex-direction: row-reverse;
  }
  #burger-img {
    display: block;
    /* order: 5; */
  }
  nav {
    flex-direction: column;
    align-items: flex-start;
    /* order: -2; */
    flex-grow: 0;
  }
  .nav-item {
    display: none;
  }
  .submenu {
    position: relative;
    display: flex;
  }

  nav:hover .nav-item {
    display: block;
  }

  .submenu > div {
    flex-direction: column;
  }

  header > h5 {
    /* order: -1; */
    flex-grow: 1;
    text-align: center;
  }
  nav > div {
    flex-direction: column;
    position: absolute;
    top: 50px;
    background: white;
  }
  .nav-item:has(.submenu)::after {
    transition: none;
    transform: none;
    content: none;
    display: none;
  }
}
