/* navbar */
nav {
  position: relative;
  flex-grow: 1;
}
nav > div {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.submenu {
  position: absolute;
  display: none;
  flex-direction: column;
  top: 15px; /* adjust as needed */
}

nav div:hover > .submenu {
  display: flex;
}

#burger-img {
  display: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

#nav-logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
header > h5 {
  margin: auto 30px;
  color: var(--accent);
  font-size: 24px;
}
/*media queries*/
@media (max-width: 900px) {
  header {
    flex-direction: row-reverse;
  }
  #burger-img {
    display: block;
    /* order: 5; */
  }
  nav {
    flex-direction: column;
    align-items: flex-start;
    /* order: -2; */
    flex-grow: 0;
  }
  .nav-item {
    display: none;
  }
  .submenu {
    position: static;
    display: flex;
  }

  nav:hover .nav-item {
    display: block;
  }

  .submenu > div {
    display: block;
    flex-direction: column;
  }

  header > h5 {
    /* order: -1; */
    flex-grow: 1;
    text-align: center;
  }
  nav > div {
    flex-direction: column;
    position: absolute;
    top: 50px;
    background: white;
  }
}
