:root {
  --couleur-logo: #ff5000;
  --couleur-titre: #888888;
}

.paragraphe {
  display: flex;
}

article > div a {
  text-decoration: underline;
  color: var(--primary);
}
main > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logostrava {
  scale: 3;
  margin:auto;
}

h3 {
  color: var(--couleur-logo);
}

article {
  flex: 0 0 70%; /* Chaque carte prend 70% de la largeur du parent */
  scroll-snap-align: center; /* Aligne la carte au milieu quand on défile */
  background-color: var(--accent);
  display: flex;
  flex-direction: column;
  padding: 3vw;
  border-radius: 15px;
  box-shadow: 0px 10px 20px var(--primary);
  margin-top: 5vh;
}
h4 {
  font-size: 20px;
  color: var(--primary);
}

.logostrava {
  width: 100px;
}
